		body {
			position: absolute;
			margin: 0px;
			width: 100%;
			height: 100%;
			background-color: black;
		}

		#header {
			position:absolute;
			margin: 0px;
			top:0px;
			width:100%;
			font-family:Helvetica;
			color:white;
		}

		#header h1 {
			margin: 0px;
			padding: 10px;
			font-size:50px;
		}

		#header p {
			margin: 20px;
			font-size:20px;
		}

		.selector {
			padding: 5px;
			display: inline;
			font-size: 25px;
			border-width: 2px;
			border-radius: 10px;
			border-style: solid;
			cursor: pointer;
		}

		#author {
			position:absolute;
			margin: 0px;
			top:10px;
			left: 10px;
			font-size: 20px;
		}

		#author a {
			text-decoration: none;
			color:white;
		}

		svg {
			width:100%;
        	height:100%;
        	background:black;
		}

		#zoomSlider {
			width: 400px;
			cursor: pointer;
		}

		/* input range cross-browser */
		input[type=range] {
		  -webkit-appearance: none;
		  width: 100%;
		  margin: 23.5px 0;
		}
		input[type=range]:focus {
		  outline: none;
		}
		input[type=range]::-webkit-slider-runnable-track {
		  width: 100%;
		  height: 3px;
		  cursor: pointer;
		  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
		  background: rgba(255, 255, 255, 0.78);
		  border-radius: 1.3px;
		  border: 0.2px solid #010101;
		}
		input[type=range]::-webkit-slider-thumb {
		  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
		  border: 2px solid #ffffff;
		  height: 50px;
		  width: 50px;
		  border-radius: 25px;
		  background: #000000;
		  cursor: pointer;
		  -webkit-appearance: none;
		  margin-top: -23.7px;
		}
		input[type=range]:focus::-webkit-slider-runnable-track {
		  background: rgba(255, 255, 255, 0.78);
		}
		input[type=range]::-moz-range-track {
		  width: 100%;
		  height: 3px;
		  cursor: pointer;
		  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
		  background: rgba(255, 255, 255, 0.78);
		  border-radius: 1.3px;
		  border: 0.2px solid #010101;
		}
		input[type=range]::-moz-range-thumb {
		  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
		  border: 2px solid #ffffff;
		  height: 50px;
		  width: 50px;
		  border-radius: 25px;
		  background: #000000;
		  cursor: pointer;
		}
		input[type=range]::-ms-track {
		  width: 100%;
		  height: 3px;
		  cursor: pointer;
		  background: transparent;
		  border-color: transparent;
		  color: transparent;
		}
		input[type=range]::-ms-fill-lower {
		  background: rgba(242, 242, 242, 0.78);
		  border: 0.2px solid #010101;
		  border-radius: 2.6px;
		  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
		}
		input[type=range]::-ms-fill-upper {
		  background: rgba(255, 255, 255, 0.78);
		  border: 0.2px solid #010101;
		  border-radius: 2.6px;
		  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
		}
		input[type=range]::-ms-thumb {
		  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
		  border: 2px solid #ffffff;
		  height: 50px;
		  width: 50px;
		  border-radius: 25px;
		  background: #000000;
		  cursor: pointer;
		  height: 3px;
		}
		input[type=range]:focus::-ms-fill-lower {
		  background: rgba(255, 255, 255, 0.78);
		}
		input[type=range]:focus::-ms-fill-upper {
		  background: rgba(255, 255, 255, 0.78);
		}
